{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="{% static "css/global.css" %}">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}"  media="screen,projection"/>
    <link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon">
</head>
<body>
    {% block form_content %}{% endblock form_content %}
    <script src="{% static 'js/index.js' %}"></script>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
</body>
</html>