<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename="style.css")}}">
</head>
<body>
    <header>Header</header>
    <!-- Content Page-->

     {% block indexPage %}{% endblock indexPage %}

     {% block notfound %}
     <div style="color: red; font-weight: bold;"> Template not found </div>
     {% endblock notfound %}

     {% block aboutPage %}{% endblock aboutPage %}
    <footer>First App 2026</footer>
    <script>
        console.log("Test!")
    </script>
    <script src="{{url_for('static', filename='index.js')}}"></script>
</body>
</html>